# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Model artifacts (optional: comment out if you want to push models)
# artifacts/*.json
# artifacts/*.cbm
# artifacts/*.pkl

# MLflow
mlruns/
mlartifacts/
.mlflow/